
.content {
	margin: 20px;
	min-width: 150px;
	max-width: 500px;
	width: auto;
}

.full-width {
	width: 100%;
}

button {
	height: 40px;
}

mat-toolbar {
	background: #012945;
	color: white;
}

mat-sidenav {
	margin: 16px;
	width: 200px;
	border-right: none;
	background: #012945;
	color: white;
	border-radius: 10px;
	padding: 16px;
	text-align: center;
}

mat-sidenav-container {
	height: calc(100vh - 65px);
}

.menu-button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 1rem;

	mat-icon {
		margin-right: 8px;
	}
}

.avatar {
	margin-top: 16px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.name {
	margin-top: 8px;
	font-weight: normal;
}

.designation {
	margin-top: 2px;
	font-size: 0.7rem;
	color: lightgrey;
}

mat-divider {
	margin-top: 16px;
	margin-bottom: 16px;
	background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 800px) {
	.content {
		padding-left: 15px;
	}
}

#info {
	color: #5c5c5c;
	font-size: 1.5em;
}

mat-card {
	background-color: #F0F0F0;
	margin-bottom: 20px;
}

mat-card-subtitle {
	font-size: 1em;
}

mat-card-content {
	font-size: 1em;
}

mat-form-field {
	background: none !important;
}

#send-button {
	color: white;
	background-color: #013357;
}