<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  Smarties Exchange
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <!-- <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

    <mat-divider></mat-divider> -->

    <button mat-button class="menu-button" (click)="openSegment('transfer')">
      <mat-icon>send</mat-icon>
      <span>Transfer</span>
    </button>
    <button mat-button class="menu-button" (click)="openSegment('balance')">
      <mat-icon>bar_chart</mat-icon>
      <span>Balance</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <form class="form" *ngIf="segment === 'transfer'">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Sender Address</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Recipient Address</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Amount to transfer</mat-label>
        <input matInput type="number">
      </mat-form-field>
  
      <button mat-raised-button color="primary" class="full-width">Send</button>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>
